In [3]:
!pip install pandas
!pip install numpy


import pandas as pd
import numpy as np

Requirement already satisfied: pandas in c:\users\sande\anaconda3\envs\ml100\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sande\anaconda3\envs\ml100\lib\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sande\anaconda3\envs\ml100\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sande\anaconda3\envs\ml100\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sande\anaconda3\envs\ml100\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\sande\anaconda3\envs\ml100\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: numpy in c:\users\sande\anaconda3\envs\ml100\lib\site-packages (2.3.3)

In [4]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [6]:
import os
print(os.getcwd())

C:\Users\sande

In [7]:
df = pd.read_csv(r'C:\Users\sande\Desktop\covid_toy.csv')

In [8]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [9]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],
                                                test_size=0.2)

In [11]:
X_train

    age  gender  fever   cough       city
58   23    Male   98.0  Strong     Mumbai
71   75  Female  104.0  Strong      Delhi
51   11  Female  100.0  Strong    Kolkata
77    8  Female  101.0    Mild    Kolkata
80   14  Female   99.0    Mild     Mumbai
..  ...     ...    ...     ...        ...
19   42  Female    NaN  Strong  Bangalore
4    65  Female  101.0    Mild     Mumbai
52   47  Female  100.0  Strong  Bangalore
2    42    Male  101.0    Mild      Delhi
20   12    Male   98.0  Strong  Bangalore

[80 rows x 5 columns]

In [12]:
y_train

58    Yes
71     No
51    Yes
77     No
80    Yes
     ...
19    Yes
4      No
52    Yes
2      No
20     No
Name: has_covid, Length: 80, dtype: object

In [13]:
from sklearn.model_selection import train_test_split

X = df.drop(columns=['has_covid'])
y = df['has_covid']

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42
)

In [17]:
# adding simple imputer to fever col so that missing values replaced by mean
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])

# also the test data
X_test_fever = si.fit_transform(X_test[['fever']])
                                 
X_train_fever.shape

(80, 1)

In [20]:
oe=OrdinalEncoder(categories=[['Mild','Strong']])
X_train_cough=oe.fit_transform(X_train[['cough']])
X_test_cough=oe.fit_transform( X_test[['cough']])

In [22]:
X_train_cough.shape

(80, 1)

In [56]:
# OneHotEncoding -> gender,city
ohe = OneHotEncoder(drop='first', sparse_output=False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])
# also the test data
X_test_gender_city = ohe.fit_transform(X_test[['gender','city']])

X_train_gender_city.shape

(80, 4)

In [57]:
X_train_age = X_train.drop(columns=['gender','fever','cough','city']).values
X_test_age=X_test.drop(columns=['gender','fever','cough','city']).values

In [58]:
print("X_test_age:", X_test_age.shape)
print("X_test_fever:", np.shape(X_test_fever))
print("X_test_gender_city:", np.shape(X_test_gender_city))
print("X_test_cough:", np.shape(X_test_cough))

X_test_age: (20, 1)
X_test_fever: (20, 1)
X_test_gender_city: (20, 4)
X_test_cough: (20, 1)

In [59]:
# Combine all train parts
X_train_transformed = np.concatenate(
    (X_train_age, X_train_fever, X_train_gender_city, X_train_cough),
    axis=1
)
# Combine all test parts
X_test_transformed = np.concatenate(
    (X_test_age, X_test_fever, X_test_gender_city, X_test_cough),
    axis=1
)

print("X_train_transformed shape:", X_train_transformed.shape)
print("X_test_transformed shape:", X_test_transformed.shape)

X_train_transformed shape: (80, 7)
X_test_transformed shape: (20, 7)

In [60]:
from sklearn.compose import ColumnTransformer

In [63]:
transformers=ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'],)
],remainder='passthrough')

In [65]:
transformers.fit_transform(X_train).shape

(80, 7)

In [66]:
transformers.transform(X_test).shape

(20, 7)

In [68]:
import os
print(os.getcwd())

C:\Users\sande